# dependencies
/node_modules
/.pnp
.pnp.js

# build
/.next/
/out/
/build
/dist

# env & secrets
.env
.env*.local
.env.production
!.env.example

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/*.db
prisma/*.db-journal

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# test / coverage
/coverage
.nyc_output

# docker volumes (if any local)
postgres-data/
